.container {
    margin: 0 0.5rem;
    padding: 0;
}

.banner-container img {
    width: 100%;
    min-width: 100%;
    height: auto;
    padding: 0 !important;
    margin: 0 !important;
}

.rounded {
    border-radius: 1rem;
}